.dots-loader::after {
  content: '...';
  animation: dots 1s steps(4, end) infinite;
  font-weight: bold;
  font-size: 1.2rem;
}

@keyframes dots {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}
